@mixin medidas ($ancho, $largo) {
    width: $ancho;
    height: $largo;
}

@mixin flexcentercol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

@mixin pequeño {
    @media screen and (min-width: 320px) {
        @content;
    }
}
@mixin mediano {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin grande {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin muy-grande {
    @media screen and (min-width: 1200px) {
        @content;
    }
}