@mixin medidas ($ancho, $largo) {
    width: $ancho;
    height: $largo;
}

@mixin flexcentercol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}