$color1: #393E46;
$color2: #222831;
$color3: #00ADB5;
$color4: #EEEEEE;


/**llamar a las tipografias por css**/

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito+Sans:wght@400;600&family=Roboto+Condensed:wght@300&display=swap');

/* mis fuentes 
font-family: 'League Gothic', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

$letra1: 'League Gothic', sans-serif;
$letra2: 'Nunito Sans', sans-serif;
$letra3: 'Roboto Condensed', sans-serif;