footer{
    grid-area:footer;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 7px solid black;
    background-color: white; 
    justify-content: flex-end;
    height: fit-content;
    .redes{
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: #EEEEEE;
                margin-left: 10px;  
                img{
                    height:50px ; 
                }
            }
        }
    }
}
