/* paquetes */


.paquetes {
    grid-area: paquetes;
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: left;
    align-content: center;
    align-items: center;
    }

.paquetes p{
    @include medidas(auto, none);
    margin-top: 10px;
}