
/*staff*/

.body-staff {
    @extend .body-home ;
    grid-template-areas:
    "header0"
    "staff"
    "footer"
    ;
    .staff {
        grid-area: staff;
        @include medidas(100%,auto);
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap:10px;
        margin: 10px;
        div {
            display: flex;
            align-items: center;
            flex-direction: column;
            img { 
                border-radius: 10px;
                margin-bottom: 10px;
                @include medidas($ancho-st1, 250px);
            }
            h2 {
                width: $ancho-st1;
                font-family: $letra3;
                color: $color1;
                padding: 5px;
                border: 5px solid $color2;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                border-radius: 10px;
            }
            section {
                background-color: $color2;
                border-radius: 10px;
                p {
                    margin-bottom: 0;
                    text-align: start;
                    @include medidas($ancho-st1, none);
                    font-family: $letra2;
                    font-style: 20px;
                    color: white; 
                    padding: 10px;
                }
            }    
        }

        @include mediano {
        grid-template-columns: 1fr 1fr;
        }
        @include grande {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
       }
    }
    
    @include grande {
        grid-template-rows: auto 80% 10%;
        }
}



