/**llamar a las tipografias por css**/
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito+Sans:wght@400;600&family=Roboto+Condensed:wght@300&display=swap');

/* mis fuentes 
font-family: 'League Gothic', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/


/* reseteo para todos los navegadores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*colores

#222831 negro
#393E46 gris 
#00ADB5 azul
#EEEEEE blanco */
